<h1>Listing Articles</h1>

<%= flash_messages %>

<ul class="list-unstyled">
  <% @articles.each do |article| %>
    <li><%= link_to article.title, article %></li>
  <% end %>
</ul>

<%= link_to 'New Article', new_article_path, {class: 'btn btn-primary'} %>
