/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */


// Custom bootstrap variables must be set or import before bootstrap itself.
@import "bootstrap";


// @import "scaffolds";

body {
  margin-top: 0.5rem;
}

.text-column {
  max-width: 60ex;
}


.article, .kb-card {
  pre {
    overflow: scroll-x;
  }


  h1, .h1 { font-size: $font-size-h3; }
  h2, .h2 { font-size: $font-size-h4; }
  h3, .h3 { font-size: $font-size-h5; }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      padding-left: 1em;
      text-indent: -1em;

      &:before { content: "— "; }
    }
  }

  ol {
    list-style-type: decimal;
    list-style-position: inside;
    padding-left: 0;
  }

  .todo {
    padding: .2em;
    background-color: #fcf8e3;
  }

  a[rel~="source"]:after {
    content: 'source';
    margin-left: 0.5ex;
    @extend sup;
    @extend .label;
    @extend .label-default;
  }
}

.article {
  [data-context] {
    padding-left: 0.4em;
    margin-left: -0.6em;
    border-left: 0.2em solid $gray-light;

  }

  [data-blank], [data-blank-group] {
    background: $gray-lightest;
  }
}

.kb-card {
  .blank {
    background: $gray-lightest;
  }
}


.no-data {
  @extend .text-muted;
  @extend .font-italic;
}


.text-uppercase {
  letter-spacing: 0.1em;
}


.inline {
  display: inline;
}


section.ui {
  @extend .form-group;

  h1, h2 {
    @extend .text-uppercase;
    @extend .text-muted;
  }

  h1 {
    font-size: $font-size-base;
  }

  h2 {
    font-size: $font-size-sm;
  }

  ol, ul {
    padding-left: 0;
  }
}

.deleted {
  text-decoration: line-through;
}

tr.deleted {
  td { position: relative}

  td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    width: 100%;
  }
}
