- revisions = model.revisions
%h1 Revisions
%table.table.table-sm
  - if revisions.present?
    - revisions.each do |revision|
      %tr
        %td= time_tag revision.updated_at, format: :short
        %td
          - if revision.autosave?
            %span.label.label-default autosave
  - else
    %tr
      %td.no-data (No revisions)
  - if model.destroyed_at.present?
    %tr.no-data
      %td= time_tag model.destroyed_at, format: :short
      %td
        %span.label.label-default deleted
